body{
    margin:0;
    font-size: 16px;
  }
  
  div{
    position:relative;
    box-sizing:border-box;
    padding: 20px;
  }
  .container{
    width:100%;
    min-height: 100vh;
    padding:0;
  }
  
  .container:after{
    content: '';
    clear: both;
    display: table;
  }
  
  .container>div{
    float: left;
    height: auto;
  }
  
  .character-list{
    font-family: 'Russo One',serif;
    width: 100%;
    background-color: #7a7a7a;
    overflow: auto;
    color: rgb(252, 247, 0);
  }
  
  .one-character{
    width: 100%;
    background-color: black;
    background-size: cover
  }
  
  .searchbar{
    position: relative;
  }
  
  #search-text,
  #search-button {
    line-height: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #575757;
  }
  
  #search-text {
   width:150px;
  }
  
  #search-button{
    background: #7a7a7a;
  }
  
  #search-button:hover{
    cursor: pointer;
  }
  
  @media(min-width:1200px){
    .character-list{
      width: 75%;
    }
  
    .one-character{
      width: 25%;
    }
  
    .container>div{
      height: 100vh;
    }
    
    .searchbar{
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }
  